:root {
  --primary-color: #f8f8f8;
  --secondary-color:  #ff9f00;
}
.categories__list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    background-color: var(--primary-color);
  }
  
  .category__btn{
    flex: 0 0 auto;
    margin: 0 8px;
    padding: 8px 16px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    flex-wrap: wrap;
    &:focus{
      background-color: var(--secondary-color);
      color: var(--primary-color);
    }
  }
  
  .categories__list::-webkit-scrollbar {
    height: 6px;
  }
  
  .categories__list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }
  .categories__list{
    position: fixed;
            left: 0 ;
            width: 100%;
            top: 50px;
    z-index: 1000;
  }
  .products{
    margin-top: 100px;
  }
  .products__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 130px;
    margin-bottom: 40px;
  }
  .products__card{
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    margin: 5px 4px;
    box-shadow: 0 0 15px rgba(45, 45, 48, .1);
    animation-name: slide-to-left;
    animation-duration: .3s;
    z-index: 1;
  }
  
  .products__image {
    width: 100%;
    height: calc(50vw - 30px);
    object-fit: cover;
    border-radius: 10px;
  }
  
  h3 {
    color: #363636;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-family: BlinkMacSystemFont, -apple-system, 'Opens Sans', Helvetica Neue, Helvetica, Fira Sans, Noto, Droid Sans, Cantarell, Oxygen, Ubuntu, Franklin Gothic Medium, Century Gothic, Liberation Sans, sans-serif;
    padding: 5px 5px 5px ;
  }
  
  .price {
    color:var(--secondary-color);
    font-weight: bold;
    padding: 0px 8px 5px ;
  }
 .add{
  position: absolute;
    width: 20px ;
    height: 20px ;
    border-radius: 50vh;
    bottom: 5px;
    right: 5px;
    color: #f6a749;
 }
  
